/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: 'Roboto-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Roboto-Regular.eot');
  src: local('Roboto-Regular'), url('fonts/Roboto-Regular.woff') format('woff'),
    url('fonts/Roboto-Regular.ttf') format('truetype'),
    url('fonts/Roboto-Regular.svg') format('svg');
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Roboto-Medium.eot');
  src: local('Roboto-Medium'),
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.ttf') format('truetype'),
    url('../fonts/Roboto-Medium.svg') format('svg');
}


html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto-Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ffc1b2;
  margin: 0;
  padding: 0;
}


header a {
  text-decoration: none;
}

.page-header {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

p {
  margin: 0;
}


br {
  display: none;
}

@media (max-width:767px) {
  br {
    display: block;
  }
}


.container {
  max-width: 1800px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}


@media (max-width:1920px) {
  .container {
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media (max-width:1440px) {
  .container {
    max-width: 1180px;
  }
}

@media (max-width:1200px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width:999px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width:767px) {
  .container {
    max-width: 320px;
  }
}

.site-list__link,
.site-list__item {
  color: #555250;
  text-align: right;
  margin-top: 50px;
  padding-right: 10px;
}

.page-header__title {
  order: 2;
  font-family: "Roboto-Medium", "Arial", sans-serif;
  font-size: 40px;
  line-height: 40px;
  margin: 20px auto;
}

@media (max-width:767px) {
  .page-header__title {
    font-size: 20px;
    line-height: 20px;
    margin: 40px auto;
  }
}

.page-header__logo {
  display: flex;
  order: 3;
  margin: 0 auto;
  padding: 0 50px;
}

@media (max-width:767px) {
  .page-header__logo {
    padding: 0;
  }
}

.page-header__logoflow {
  position: relative;
  bottom: 20px;
  right: 20px;
}

@media (max-width:767px) {
  .page-header__logoflow {
    bottom: 10px;
    right: -5px;
  }
}

.page-header__logotext {
  margin-right: 150px;
}

@media (max-width:767px) {
  .page-header__logotext {
    margin-right: 20px;
  }
}

.about__title {
  font-family: "Roboto-Medium", "Arial", sans-serif;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto 60px auto;
}

@media (max-width:767px) {
  .about__title {
    font-size: 30px;
    line-height: 30px;
    margin: 60px auto;
  }
}

.about__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*@media (max-width:767px) {
  .about__wrap {
    flex-direction: column;
  }
} 

@media (max-width:767px) {
  .about__img {
    margin: 0 auto;
  }
} - добавим если понравиться дизайн flex-direction: column */

.developing__wrap {
  text-align: center;
  margin: 50px auto;
  padding: 0 50px;
}

@media (max-width:767px) {
  .developing__wrap {
    margin: 80px auto;
    padding: 0 10px;
  }
}

.developing__about {
  font-family: inherit;
  font-size: 36px;
  line-height: 36px;
  color: #b94600;
  padding-bottom: 20px;

}

@media (max-width:999px) {
  .developing__about {
    font-size: 23px;
    line-height: 28px;
    padding: 20px;
  }
}

@media (max-width:767px) {
  .developing__about {
    font-size: 18px;
    line-height: 20px;
  }
}

.page-footer {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #fd8525;
}

@media (max-width:767px) {
  .page-footer {
    flex-direction: column;
  }
}

.page-footer__contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
}

@media (max-width:999px) {
  .page-footer__contact {
    margin: 0 auto;
  }
}

@media (max-width:767px) {
  .page-footer__contact {
    flex-direction: column;
    margin: 40px 0 0 0;
  }
}

.contact__info {
  font-size: 30px;
  line-height: 30px;
  margin-left: 140px;
}

@media (min-width:1920px) {
  .contact__info {
    margin: auto 15px;
  }
}

@media (max-width:1920px) {
  .contact__info {
    margin: auto 15px;
  }
}

@media (max-width:1440px) {
  .contact__info {
    font-size: 23px;
    line-height: 23px;
  }
}

@media (max-width:1200px) {
  .contact__info {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width:999px) {
  .contact__info {
    margin: 0 20px;
  }
}

@media (max-width:767px) {
  .contact__info {
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    margin: 10px 0;
  }
}

.page-footer__wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;

}




@media (max-width:767px) {
  .page-footer__wrap {
    flex-direction: column;
    height: 250px;
  }
}

@media (max-width:999px) {
  .page-footer__wrap {
    flex-direction: column;
    height: 250px;
  }
}


.social__link--instagram::after {
  content: "";
  background-image: url("/img/Instagram_Logodesctop.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 240px;
  height: 58px;
  position: absolute;
  left: 5%;
  top: 30%;
}

@media (min-width:1920px) {
  .social__link--instagram::after {
    top: 45px;
    left: 50px;
  }
}

@media (max-width:1920px) {
  .social__link--instagram::after {
    top: 45px;
    left: 10px;
  }
}

@media (max-width:1200px) {
  .social__link--instagram::after {
    background-image: url("/img/Instagram_Logotablet.svg");
    top: 45px;
    left: 0;
  }
}

@media (max-width:999px) {
  .social__link--instagram::after {
    background-image: url("/img/Instagram_Logotablet.svg");
    top: 40px;
    left: 90px;
  }
}

@media (max-width:767px) {
  .social__link--instagram::after {
    background-image: url("/img/Instagram_Logomob.svg");
    top: 25px;
    left: 43px
  }
}

/*.social__link--instagram:hover {
  color: #90614b;
}
*/

.social__link--facebook:after {
  content: "";
  background-image: url("/img/FaceBook_Logodeactop.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 232px;
  height: 51px;
  position: absolute;
  top: 46px;
  left: 400px;
  display: inline-block;
  }

@media (max-width:1920px) {
  .social__link--facebook:after {
    top: 46px;
    left: 290px;
  }
}

@media (max-width:1200px) {
  .social__link--facebook:after {
    background-image: url("/img/FaceBook_Logotablet.svg");
    top: 46px;
    left: 200px;
  }
}

@media (max-width:999px) {
  .social__link--facebook:after {
    background-image: url("/img/FaceBook_Logotablet.svg");
    top: 40px;
    left: 350px;
  }
}

@media (max-width:767px) {
  .social__link--facebook:after {
    background-image: url("/img/FaceBook_Logomob.svg");
    top: 85px;
    left: 45px;
  }
}